@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Oswald;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .95);
    border: 0;
    text-transform: uppercase;    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* end Navbar */



/* Containers and sections */

section {
    width: 100%;
    height: 80%;
}

.container-wrapper--black {
    background-color: black;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url('../images/cross-background.jpeg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* end Containers and sections*/


/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 42rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}



/* bottom info - footer*/

footer {
background-color: #ffcc00;
}

.bottom-info p {
text-align:center;
}

/* end bottom info */