@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
* {
    margin: 0;
    padding: 0;

}

body {
  font-family: Oswald;
  padding-top: 3rem;
  color: #5a5a5a;
}


section{
    width: 100%;
    height: 80vh;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .95);
    border: 0;
    text-transform: uppercase;    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* end Navbar */


/* CAROUSEL */

.carousel-item {
  height: 80vh;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* end CAROUSEL */

/* About us */
#aboutus {
    background-color:rgb(255, 208, 0);
}
/* end About us */


/* Bikes */
#bikes {
    background-color:rgb(255, 166, 0);
}
/* end Bikes */


/* SIGNUP */


.container-wrapper--black {
    background-color: black;
    color: white;
}

.callout-container {
    height: 50%;
    background: url('../images/cross-background.jpeg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* end SIGNUP */





/* bottom info - footer*/

footer {
background-color: #ffcc00;
}

.bottom-info p {
text-align:center;
}

/* end bottom info */