@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
* {
    margin: 0;
    padding: 0;
}

body {
  font-family: Oswald;
  padding-bottom: 371px;
  color: #5a5a5a;
  position: relative;
}

section {
    padding-top:57px;
}

/* NAVBAR */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1.0);
    border-bottom: 1px solid rgb(130, 130, 130);
    text-transform: uppercase;    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* end NAVBAR */



/* CAROUSEL - home */

#home {
 width: 100%;
 background-color: black;
}   

.carousel-item {
  height: 80vh;
  background-color: black;
  color: white;
}

#slide-1 {
  background: url('../images/cross-background.jpeg') no-repeat center;
  background-position:center;
  background-size:cover;
}

#slide-2 {
  background: url('../images/bikes-s.jpg') no-repeat center;
  background-position:center;
  background-size:cover;
}

#slide-3 {
  background: url('../images/cross-bg.jpg') no-repeat center;
  background-position:center;
  background-size:cover;
}

.overlay-image {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 top:0;
 background-position:center;
 background-size:cover;
 background-color: rgba(0, 0, 0, .6);
}
/**/
.btn--yellow {
    color: rgb(26, 25, 25);
    background-color: #F9D107;
    border-color: rgb(168, 143, 0);
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus,
.btn--yellow:active:focus {
    background-color: #000000;
    border-color:#69605e; 
    color: #F9D107;
}

/* end CAROUSEL */



/* ABOUTUS */

#aboutus {
    background-color:rgb(196, 196, 196);
    width: 100%;
    height: 80vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#aboutus > p {
text-align: center;
}

/* end ABOUTUS */



/* BIKES */

#bikes {
    background-color:black;
    color:white;
    width: 100%;
    height: auto;
}

#bikes > p {
text-align: center;
}

.pricing-header {
  max-width: 700px;
}

.card-body {
padding: 40px 50px 40px 40px;
}

.deck-1 {
    color:black;
    padding-bottom:30px;
}

/*hover cards' transition*/
#card-h1:hover {
transform: scale(1.05);
transition: 1s;
}

#card-h2:hover {
transform: scale(1.05);
transition: 1s;
}

#card-h3:hover {
transform: scale(1.05);
transition: 1s;
}
/* end BIKES */



/* REVIEWS */

#reviews {
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#reviews > p {
text-align: center;
}

#reviews > h2 {
color: rgb(47, 73, 162);
}

.featurette-divider {
  margin: 2rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* end REVIEWS */



/* bottom info - footer*/

footer {
position: absolute;
bottom: 0;
right: 0;
left:0;
background-color: #222222;
height: auto;
width: 100%;
padding-top: 40px;
color: rgb(255, 255, 255);
}

.footer-content {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
}

.socials {
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 10px 0 20px 0;
}

.socials li {
margin: 0 30px;
}

.fa-angle-double-down {
    color: rgb(255, 217, 0);
}

.fa-facebook {
    color: rgb(45, 102, 207);
}

.fa-twitter {
    color: rgb(65, 179, 255);
}

.fa-youtube {
    color: rgb(189, 0, 0);
}

.fa-instagram {
    color: rgb(204, 37, 115);
}

.socials a {
text-decoration: none;
color: rgb(126, 126, 126);
}

.socials a i {
    font-size: 2.5rem;
    transition: color .2s ease;
}

.socials a:hover i {
    color: rgb(254, 255, 192);
}


.footer-bottom {
    background-color: black;
    padding: 1rem 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
   text-transform: uppercase;
   opacity: 0.7;
   font-weight: 300;
   margin: 10px auto;
}
/* end bottom info */


/* RESPONSIVE CSS */

@media (min-width: 830px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}